body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffff;
    padding: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #000000;
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    z-index: 1;
    
}

.dropdown-content a {
    color: #ffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.logo img{
    width: 90px;
    height: auto;
}
.connect-button button {
  position: relative;
  background-color: #04AA6D;
  padding: 5px;
  width: 90px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
}

.connect-button button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.connect-button button:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
.ten{
    display: flex;
    align-self: center;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 14px;
    overflow: hidden;
    opacity: 1;
   
    
}
.first.hidden{
    opacity: 0;
}
#two {
    position: relative; 
    height: 600px;
}
.one{
    position: relative;
    width: 400px;
    padding-left: 20px;
}
#behind {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    animation: fadeInLetters 1s forwards;
}
#behind button{
    text-decoration: none;
    background-color: #FEC31A;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    transition: transform 0.3s ease;
}
#behind button:hover{
    background-color: #5268f5;
    transform: translateX(20px) scale(1.05);
}
@keyframes fadeInLetters {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#animated {
    color: #ffffff;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap; 
    animation: revealText 1s steps(13, end) forwards;
}

@keyframes revealText {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.second,
.third {
    display: none;
    opacity: 0;
    border-radius: 15px;
}
.second.show,
.third.show {
    display: block;
    opacity: 1;
}
.second.hidden,
.third.first.hidden{
    opacity: 0;
}
.sec-one {
    padding: 15px;
}
.what{
    display: flex;
}